@theme {
  /* Screens */
  --breakpoint-3xl: 120rem; /* 1920px */

  /* Spacing */
  --spacing-4_5: 1.125rem; /* 18px */
  --spacing-5_5: 1.375rem; /* 22px */
  --spacing-6_5: 1.625rem; /* 26px */
  --spacing-7_5: 1.875rem; /* 30px */
  --spacing-8_5: 2.125rem; /* 34px */
  --spacing-9_5: 2.375rem; /* 38px */

  /* Type System */
  --font-size-3xs: 0.5rem; /* 8px */
  --font-size-3xs--line-height: 0.75rem; /* 12px */
  --font-size-2xs: 0.625rem; /* 10px */
  --font-size-2xs--line-height: 0.875rem; /* 14px */

  /* Widths */
  --width-8xl: 90rem, /* 1440px */;
}
